<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <context:component-scan base-package=""/>-->

    <!--    <import resource="extra-spring-context.xml"/>-->
    <bean name="userDAO" class="dao.list.UserDAOImpl">
    </bean>
    <bean name="noteDAO" class="dao.list.NoteDAOImpl">
    </bean>
    <bean name="deviceDAO" class="dao.list.DeviceDAOImpl">
    </bean>
    <bean name="tagDAO" class="dao.list.TagDAOImpl">
    </bean>


    <bean id="userService" class="service.UserServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="userDAO"/>
        <!--        <property name="userDAO" ref="userDAO" />-->
    </bean>

    <bean id="noteService" class="service.NoteServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="noteDAO"/>
        <!--        <property name="noteDAO" ref="noteDAO"/>-->
    </bean>

    <bean id="deviceService" class="service.DeviceServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="deviceDAO"/>
    </bean>

    <bean id="tagService" class="service.TagServiceImpl" autowire="byName">
    </bean>

</beans>
